/* Your card CSS file */
.card-category {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/veggie_breakfast_fry_up_66913_16x9.jpg);
  height:300px;
  background-size: : cover;
  color:white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.card-product {
  display:flex;
  align-items: center;
  margin: 20px;

}

.card-product img {
  width: 300px;
}
.card-product-infos {
  padding-left: 50px;
}
.card-trip {
  margin: 20px;
}

.card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  bottom: -40px;
  right: -10px;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
}

.box-shadow {
  box-shadow: 2x 2x 3x black;
}
